<title>校园专区聚合页</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
<meta name="format-detection" content="telphone=no, email=no" />

<!--css-->
<link rel="stylesheet" href="js/lib/normalize-6.0.0.min.css">
<link rel="stylesheet" href="js/lib/pure-grids.css">
<link rel="stylesheet" href="css/wap.css">

<!--js-->
<script src="js/lib/jquery-2.2.4.js"></script>
<script src="js/lib/flexible.js"></script>
<script src="js/lib/modal.js"></script>
<script src="js/public.js"></script>