<!--日租规则 start-->
<div class="modal fade gz-modal01">
    <div class="modal-dialog gz-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <img src="images/tu01.png" />
                <div class="mt20 ml200">
                    <p>活动规则</p>
                    <p>（1）仅限身份证92年后出生的客户办理；</p>
                    <p>（2）日租包可自动续订，每天不超过10次；</p>
                    <p>（3）流量使用顺序：优先使用校园区域流量，然后再依次使用套餐内省内流量，国内流量，其他赠送流量；</p>
                    <p>（4）日租包1元包1G省内流量，如当天未产生流量，则不收取客户1块钱；</p>
                    <p>（5）当客户同时办理区域流量月包和校园日租包时，由于月包为校园区域流量，日租包为省内流量，优先使用校园区域流量月包。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--闲时规则 start-->
<div class="modal fade gz-modal02">
    <div class="modal-dialog gz-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <img src="images/tu01.png" />
                <div class="mt20 ml200">
                    <p>活动规则</p>
                    <p>（1）每个用户仅限办理一次；</p>
                    <p>（2）办理当月生效，取消和变更次月生效；</p>
                    <p>（3）晚间23:00-07:00可使用,不能重复订购，国内通用 流量，当月办理当月生效，不累计、不结转。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--月租规则 start-->
<div class="modal fade gz-modal03">
    <div class="modal-dialog gz-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
            </div>
            <div class="modal-body">
                <img src="images/tu02.png" />
                <div class="mt20 ml200">
                    <p>活动规则</p>
                    <p>（1）仅限身份证92年后出生的客户办理；</p>
                    <p>（2）校园专属优惠包与其他流量月包、季包、年包不互斥，与闲时流量等不互斥；</p>
                    <p>（3）每个用户仅限办理一次，办理当月生效，取消和变更次月生效 。</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--提示1 start-->
<div class="modal fade gz-gobal gz-modal04">
    <div class="modal-dialog gz-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4>提示</h4>
            </div>
            <div class="modal-body">
                <p class="modal-icon">很遗憾！</p>
                <p>该活动仅限身份证92年后出生的客户办理</p>
                <p>去参与更多精彩活动吧！</p>
            </div>
        </div>
    </div>
</div>

<!--提示2 start-->
<div class="modal fade gz-gobal gz-modal05">
    <div class="modal-dialog gz-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4>提示</h4>
            </div>
            <div class="modal-body">
                <p class="modal-icon">您是否确认办理XXX？</p>
            </div>
            <div class="modal-footer">
                <a href="##" class="btn-org" data-dismiss="modal">取消</a>
                <a href="##" class="btn-org" data-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>

<!--提示3 start-->
<div class="modal fade gz-gobal gz-modal06">
    <div class="modal-dialog gz-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                <h4>提示</h4>
            </div>
            <div class="modal-body">
                <p class="modal-icon">恭喜您！</p>
                <p>您已成功办理XXX！</p>
            </div>
            <div class="modal-footer">
                <a href="##" class="btn-org" data-dismiss="modal">取消</a>
                <a href="##" class="btn-org" data-dismiss="modal">确认</a>
            </div>
        </div>
    </div>
</div>