$green: #4ac33d;
$black:#575656;
$red:#fb492c;
$link:#000;
$white:#fff;
$org:#fff54b;
$lorg:#fee53b;
$zs01:#da7201;
$zs02:#d75600;
$zs03:#ed8c27;
$zs04:#ec650a;
$zs05:#da4405;
$zs06:#ec9824;
$zs07:#de731d;
$zs08:#ffb545;
$zs09:#ee812a;
$zs10:#ff6d14;
$zs11:#fe5c15;